<ion-header>
  <ion-toolbar>
    <ion-title size="large">
      Header with safe-area
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-select label="Example select for bottom direction" interface="popover" [value]="1">
      <ion-select-option *ngFor="let number of numberArray" [value]="number">
        Value {{ number }}
      </ion-select-option>
    </ion-select>

    <ion-item label="Placeholder"></ion-item>
    <ion-item label="Placeholder"></ion-item>
    <ion-item label="Placeholder"></ion-item>
    <ion-item label="Placeholder"></ion-item>
    <ion-item label="Placeholder"></ion-item>
    <ion-item label="Placeholder"></ion-item>
    <ion-item label="Placeholder"></ion-item>
    <ion-item label="Placeholder"></ion-item>

    <ion-select label="Example select" interface="popover" [value]="1">
      <ion-select-option *ngFor="let number of numberArray" [value]="number">
        Value {{ number }}
      </ion-select-option>
    </ion-select>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    Toolbar with safe-area
  </ion-toolbar>
</ion-footer>
